body {
  /* text-align: center; */
  /* margin: auto; */
  height: 100vh;
  background-color: rgba(223, 199, 166, 0.646);
}
#root {
  /* text-align: center; */
  height: 100%;
  /* margin: auto; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.wrapper {
  border: 2px solid hsl(31, 76%, 47%);
  border-radius: 3px;
  padding: 10px;
  max-width: 60%;
  margin: auto;
}

.title {
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 2px solid hsl(27, 60%, 64%);
  cursor: pointer;
}

h3 {
  flex: 1;
  margin: 10px 5px;
}
