/* ul.tree-parent-with-children::before {
  content: '+';
  margin-right: 5px;
  color: red;
  display: inline-block;
}

ul.tree-parent {
  list-style: none;
  display: inline-block;
} */

ul.tree-parent {
  list-style: none;
  margin: 0;
}
