div.tabsWrapper {
  display: flex;
  justify-content: center;
}

div.tabsWrapper button {
  font-size: 1.1rem;
  width: 100px;
  padding: 10px;
  margin: 0 10px 20px;
  border: 2px solid rgba(155, 154, 154, 0.487);
  border-radius: 8px;
  background-color: aqua;
}

div.tabsWrapper button.active {
  background-color: rgb(0, 255, 174);
}
