.card {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
  box-shadow: 5px 5px 5px #00000023;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
}

.student {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
}

.student p {
  margin: 0;
}

.welcome-message {
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid none;
  background-color: hsla(126, 91%, 34%, 0.821);
  color: white;
}

.login-prompt {
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid none;
  background-color: hsla(0, 91%, 34%, 0.821);
  color: white;
}

.list-category {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: hsl(0, 0%, 20%);
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(185, 100%, 50%);
}

.list-items li {
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
  margin: 0;
}

.list-items li:hover {
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}

.counter-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.counter-display {
  font-size: 8em;
  margin-top: 20px;
  margin-bottom: 50px;
}

.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: hsla(202, 82%, 49%, 0.814);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.counter-button:hover {
  background-color: hsla(202, 82%, 35%, 0.736);
}

/* set css for COlor Picker */
/* .color-picker-container {
  width: 50%;
  /* set height here is no use, 
  the container's height is up to it's child components*/
/* height: 1000px;   */
/* text-align: center; */
/* margin: 0 auto; */
/* */

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-display {
  /* width: 100%; */
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  transition: 0.25s ease;
}

.color-display p {
  color: hsl(0, 0%, 20%);
  font-size: 2rem;
  text-align: center;
}
label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type='color'] {
  width: 80px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0, 80%);
}
