body {
  padding: 0;
  margin: 0;
}
#root {
  margin: 0;
  padding: 0;
}

.light-dark-mode {
  width: 100vw;
  min-height: 100vh;
  /* max-width: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .mode-container {
  width: 100%;
} */

div.light {
  background-color: #fff;
}
div.dark {
  background-color: black;
}
h2.light {
  color: black;
}
h2.dark {
  color: #fff;
}

button.light {
  color: black;
  background-color: #fff;
}
button.dark {
  color: #fff;
  background-color: black;
}

.modeChangeBtn {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px grey;
  font-size: 16px;
}
